@import "@material-design-icons/font";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-bRg.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-cBd.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-dEb.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-eHv.woff2)
      format("woff2");
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  :root {
    /* base */
    --color-white: 255 255 255;
    --color-black: 0 0 0;

    /* background */
    --color-background: 254 249 242;
    --color-on-background: 29 27 24;

    /* elevated button */
    --color-surface: 254 249 242;
    --color-surface-dim: 222 217 211;
    --color-surface-bright: 254 249 242;
    --color-surface-container-lowest: 255 255 255;
    --color-surface-container-low: 248 243 237;
    --color-surface-container: 242 237 231;
    --color-surface-container-high: 236 231 225;
    --color-surface-container-highest: 230 226 220;
    --color-on-surface: 29 27 24;
    --color-surface-variant: 232 226 211;
    --color-on-surface-variant: 74 71 60;
    --color-inverse-surface: 50 48 44;
    --color-inverse-on-surface: 245 240 234;
    --color-outline: 123 119 106;
    --color-outline-variant: 203 198 184;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-surface-tint: 102 95 54;

    /* primary */
    --color-primary-light: 131 122 69;
    --color-primary: 102 95 54;
    --color-primary-dark: 80 75 43;
    --color-on-primary: 255 255 255;
    --color-primary-container: 255 245 199;
    --color-on-primary-container: 89 83 43;
    --color-inverse-primary: 209 199 149;

    /* secondary */
    --color-secondary-light: 123 118 93;
    --color-secondary: 99 95 75;
    --color-secondary-dark: 79 76 59;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 235 228 203;
    --color-secondary-container-dark: 214 208 187;
    --color-on-secondary-container: 77 73 55;

    /* error */
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
  }
}

@layer components {
  .scrollbar {
    overflow-y: auto;
  }

  @supports (scrollbar-width: auto) {
    .scrollbar {
      scrollbar-color: rgb(var(--color-primary)) transparent;
      scrollbar-width: auto;
    }
  }

  /* Legacy browsers with `::-webkit-scrollbar-*` support */
  @supports selector(::-webkit-scrollbar) {
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(var(--color-primary));
    }
    .scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
    .scrollbar::-webkit-scrollbar {
      width: 12px;
    }
  }
}
