@import "@material-design-icons/font";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-bRg.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-cBd.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-dEb.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "NanumSquareNeo";
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-neo@0.0.6/woff2/NanumSquareNeoTTF-eHv.woff2)
      format("woff2");
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  :root {
    --color-primary: 0 104 119;
    --color-surface-tint: 0 104 119;
    --color-on-primary: 255 255 255;
    --color-primary-container: 164 238 255;
    --color-on-primary-container: 0 31 37;
    --color-secondary: 75 98 104;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 205 231 238;
    --color-on-secondary-container: 5 31 36;
    --color-tertiary: 85 93 126;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 220 225 255;
    --color-on-tertiary-container: 17 26 55;
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
    --color-background: 245 250 252;
    --color-on-background: 23 29 30;
    --color-surface: 245 250 252;
    --color-on-surface: 23 29 30;
    --color-surface-variant: 219 228 231;
    --color-on-surface-variant: 63 72 75;
    --color-outline: 111 121 123;
    --color-outline-variant: 191 200 203;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 43 49 51;
    --color-inverse-on-surface: 236 242 243;
    --color-inverse-primary: 131 210 228;
    --color-primary-fixed: 164 238 255;
    --color-on-primary-fixed: 0 31 37;
    --color-primary-fixed-dim: 131 210 228;
    --color-on-primary-fixed-variant: 0 78 90;
    --color-secondary-fixed: 205 231 238;
    --color-on-secondary-fixed: 5 31 36;
    --color-secondary-fixed-dim: 178 203 209;
    --color-on-secondary-fixed-variant: 51 74 80;
    --color-tertiary-fixed: 220 225 255;
    --color-on-tertiary-fixed: 17 26 55;
    --color-tertiary-fixed-dim: 189 197 235;
    --color-on-tertiary-fixed-variant: 61 69 101;
    --color-surface-dim: 213 219 221;
    --color-surface-bright: 245 250 252;
    --color-surface-container-lowest: 255 255 255;
    --color-surface-container-low: 239 244 246;
    --color-surface-container: 233 239 240;
    --color-surface-container-high: 228 233 235;
    --color-surface-container-highest: 222 227 229;
  }

  [data-theme="dark"] {
    --color-primary: 131 210 228;
    --color-surface-tint: 131 210 228;
    --color-on-primary: 0 54 63;
    --color-primary-container: 0 78 90;
    --color-on-primary-container: 164 238 255;
    --color-secondary: 178 203 209;
    --color-on-secondary: 28 52 57;
    --color-secondary-container: 51 74 80;
    --color-on-secondary-container: 205 231 238;
    --color-tertiary: 189 197 235;
    --color-on-tertiary: 38 47 77;
    --color-tertiary-container: 61 69 101;
    --color-on-tertiary-container: 220 225 255;
    --color-error: 255 180 171;
    --color-on-error: 105 0 5;
    --color-error-container: 147 0 10;
    --color-on-error-container: 255 218 214;
    --color-background: 14 20 22;
    --color-on-background: 222 227 229;
    --color-surface: 14 20 22;
    --color-on-surface: 222 227 229;
    --color-surface-variant: 63 72 75;
    --color-on-surface-variant: 191 200 203;
    --color-outline: 137 146 149;
    --color-outline-variant: 63 72 75;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 222 227 229;
    --color-inverse-on-surface: 43 49 51;
    --color-inverse-primary: 0 104 119;
    --color-primary-fixed: 164 238 255;
    --color-on-primary-fixed: 0 31 37;
    --color-primary-fixed-dim: 131 210 228;
    --color-on-primary-fixed-variant: 0 78 90;
    --color-secondary-fixed: 205 231 238;
    --color-on-secondary-fixed: 5 31 36;
    --color-secondary-fixed-dim: 178 203 209;
    --color-on-secondary-fixed-variant: 51 74 80;
    --color-tertiary-fixed: 220 225 255;
    --color-on-tertiary-fixed: 17 26 55;
    --color-tertiary-fixed-dim: 189 197 235;
    --color-on-tertiary-fixed-variant: 61 69 101;
    --color-surface-dim: 14 20 22;
    --color-surface-bright: 52 58 60;
    --color-surface-container-lowest: 9 15 17;
    --color-surface-container-low: 23 29 30;
    --color-surface-container: 27 33 34;
    --color-surface-container-high: 37 43 44;
    --color-surface-container-highest: 48 54 55;
  }
}

@layer components {


  @supports (scrollbar-width: auto) {
    .scrollbar {
      scrollbar-color: rgb(var(--color-secondary)) transparent;
      scrollbar-width: auto;
    }
  }

  /* Legacy browsers with `::-webkit-scrollbar-*` support */
  @supports selector(::-webkit-scrollbar) {
    .scrollbar::-webkit-scrollbar-thumb {
      background: rgb(var(--color-secondary));
    }
    .scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
    .scrollbar::-webkit-scrollbar {
      width: 12px;
    }
  }

  .book-border {
    @apply before:content-[''] before:absolute before:inset-0 before:border-solid before:border-on-surface/10 before:top-0 before:left-0 before:right-0 before:bottom-0 before:border-l-2 before:border-l-on-surface/40 before:z-10 before:outline before:outline-1 before:outline-on-surface/10;

    @apply after:content-[''] after:absolute after:inset-0 after:top-0 after:left-1.5 after:bottom-0 after:w-0.5 after:bg-on-surface/25 after:blur-xxs;
  }

  .state-layer {
    @apply relative overflow-hidden after:absolute after:left-0 after:right-0 after:bottom-0 after:top-0 after:w-full after:h-full after:pointer-events-none
  }
}
